n8nHub___Main.json
{
  "name": "n8nHub | Main",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "07f017f8-a591-47d9-a45e-e7a8c52de3ce",
      "name": "Workflow Edit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -1560
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $('Workflow Edit').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $now.toISO() }} | {{ $('Workflow Edit').item.json.name }}"
      },
      "id": "380bcffa-e214-4cf0-aa4c-0ee95ee3a7f2",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1740,
        -1560
      ],
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "8c86760e-7dcf-4384-9365-cda5ea540c68",
      "name": "Convert to JSON - Edit",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        -1560
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}.json"
        }
      },
      "id": "c77ca731-d91f-4d85-8732-c9034ae311e7",
      "name": "Convert to JSON - Create",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1540,
        -1340
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $('Workflow Create').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $now.toISO() }} | {{ $('Workflow Create').item.json.name }}"
      },
      "id": "b2b09dae-576f-4e6c-8932-352efad29596",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1740,
        -1340
      ],
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "60ed3105-1118-43e5-99ab-916522732a58",
      "name": "Workflow Create",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -1340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d55c571b-e214-48c5-9516-b16c71f5419e",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "9b9895ae-a8ce-4ce2-a892-6fc76024d35f",
      "name": "Parse Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -1340
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "id": "ff71091b-fd16-4a02-839f-a0d9b7b783d5",
      "name": "Get Github Workflows",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        640,
        -1560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "8c974394-e864-485c-8aa5-da920fbe2535",
      "name": "Get n8n Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        420,
        -1480
      ],
      "credentials": {
        "n8nApi": {
          "id": "OQZmdCaA4ngrsSzc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2340,
        -1600
      ],
      "id": "f73d5912-52fc-4650-b42a-91505efceda0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db106218-51ae-4ac1-8a2c-3cedf8caaf84",
              "name": "workflow.id",
              "value": "={{ $json.content.name }}",
              "type": "string"
            },
            {
              "id": "f1cc1267-d1a3-4aa3-977b-d1ecba06e968",
              "name": "workflow.lastUpdated",
              "value": "={{ $json.commit.message.split(' | ')[0] }}",
              "type": "string"
            },
            {
              "id": "72cd6fad-c50c-4bdd-849f-594c1b7bf4c2",
              "name": "workflow.name",
              "value": "={{ $json.commit.message.substring($json.commit.message.indexOf(\"|\") + 1).trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        -1480
      ],
      "id": "dab10c5e-bf88-436c-bdd7-53ea6765c41a",
      "name": "Set Update Table"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b41e7cc-5d5a-47b3-96b9-775dc07962a2",
              "name": "currentTime",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "09cfe142-3efe-4107-a542-1028c4c657a1",
              "name": "updatedTime",
              "value": "={{ $('Set Update Table').all() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        -1600
      ],
      "id": "073f6118-b8ce-4007-b861-01900d42f842",
      "name": "Set Function Input"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "7345e903-21de-4ebd-bc43-78c6ec283823",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        -560
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1660,
        -120
      ],
      "id": "759fa7d4-45c4-400a-8858-ed9a6797708b",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0].workflows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        -120
      ],
      "id": "a2703ec4-df20-4e77-ab48-fdcc46a850c9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ Object.keys($binary).join(', ') }}",
        "fileName": "=workflows-backup"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1460,
        -120
      ],
      "id": "a4e72475-7a61-4664-95f3-4462de47cd3a",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "67a5525a-2a31-41d9-b010-4866a02d8654",
      "name": "Extract from Workflow",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        840,
        -1560
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "id": "a901e763-5230-4e98-a8d2-bd29ac82fb92",
      "name": "Compare Workflows",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1060,
        -1380
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "last-updated.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2140,
        -1480
      ],
      "id": "9f7f994d-5a81-4888-a213-4a88d5aa9889",
      "name": "Get Update Status",
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst inputData = items[0]; // Access the main JSON object\n\n// Extract currentTime and updatedTime arrays\nconst currentTimeData = inputData.json.currentTime[0].workflows; // Access workflows array\nconst updatedTimeData = inputData.json.updatedTime; // Access the updated workflow data\n\n// Create a mapping of workflow IDs to their complete workflow objects\nconst updatedTimeMap = {};\nconst newWorkflows = [];\n\n// Process updated workflows and identify new ones\nupdatedTimeData.forEach(entry => {\n    const workflow = entry.json.workflow;\n    updatedTimeMap[workflow.id] = workflow.lastUpdated;\n    \n    // Check if this workflow exists in currentTimeData\n    const existingWorkflow = currentTimeData.find(w => w.id === workflow.id);\n    if (!existingWorkflow) {\n        // This is a new workflow - add it to our list of new workflows\n        console.log(`Adding new workflow: ${workflow.name} (${workflow.id})`);\n        newWorkflows.push({\n            id: workflow.id,\n            lastUpdated: workflow.lastUpdated,\n            name: workflow.name\n        });\n    }\n});\n\n// Update the currentTime's lastUpdated field based on the updatedTime data\ncurrentTimeData.forEach(row => {\n    if (updatedTimeMap[row.id]) {\n        row.lastUpdated = updatedTimeMap[row.id]; // Update the lastUpdated value\n    }\n});\n\n// Add the new workflows to currentTimeData\nconst updatedWorkflows = [...currentTimeData]; // Create a copy\nif (newWorkflows.length > 0) {\n    updatedWorkflows.push(...newWorkflows);\n}\n\n// Return the updated structure, keeping the renamed fields\nreturn [\n    {\n        json: {\n            updatedData: updatedWorkflows, // Use our local copy with new items added\n            timesReplaced: updatedTimeData \n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        -1600
      ],
      "id": "6d6fbe10-938d-43dd-ae90-feb70081a57a",
      "name": "Process Updates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f21d81c9-fa5a-4ae6-a619-f8f584bed698",
              "name": "workflows",
              "value": "={{ $json.updatedData }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -1600
      ],
      "id": "f81d13c9-1ff6-49e2-9a4a-8e3e44f532b8",
      "name": "Set JSON"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3120,
        -1600
      ],
      "id": "267879e2-7fc1-4798-bf40-8d65c96b593f",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        -1360
      ],
      "id": "d2fd46f4-6e15-4ba9-9c4b-1cd8e8e2e8f1",
      "name": "Respond to Webhook Sync"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "last-updated.json",
        "binaryData": true,
        "commitMessage": "={{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2980,
        -1360
      ],
      "id": "8d738cb8-8b7d-41a4-ba5a-51aba7074de9",
      "name": "Create Update Status File",
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2680,
        -1360
      ],
      "id": "13506aa2-3f7a-428d-adc4-3c1dcb62addf",
      "name": "Convert to JSON 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "542e35b1-a3e6-4779-a36e-74d3036bbbc4",
              "name": "=workflows",
              "value": "={{ JSON.stringify($('Set Update Table').all().map(item => item.json.workflow)) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        -1360
      ],
      "id": "8e6fc72f-4609-41e9-9e6b-d9dcda92f644",
      "name": "Set JSON 2"
    },
    {
      "parameters": {
        "path": "n8nHub-main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -740
      ],
      "id": "049433f5-6e9c-4982-8dc7-f679db239949",
      "name": "Webhook",
      "webhookId": "c7ac0b6d-d02b-4d64-b321-d97274df415b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "022eba76-d3a1-4e3f-9ca3-227484fd76c8",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "sync",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sync"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4002340-a3e3-497d-aa95-0983f75042cf",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "=workflows",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "workflows"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fd003f0-f792-45bc-827f-7476f0a63c39",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "commits",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "commits"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c53e8f99-91ba-4b7a-b352-d7956217fca0",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "commit-download",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "commit-download"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e42ce2b0-ef65-4f3d-be65-5a9dfc294606",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "commit-restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "commit-restore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "717ac46a-5973-4a2c-8db4-3b204b1170a6",
                    "leftValue": "={{ $json.flow }}",
                    "rightValue": "download-all",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "download-all"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        -720
      ],
      "id": "1cbbca79-dc91-4bda-890f-82e87d7cc052",
      "name": "Switch Flows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        -780
      ],
      "id": "222722ca-6145-4641-a025-b7c08c2d6210",
      "name": "Respond Commits"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a80c9acb-3e3f-49e1-b18f-065933806a15",
              "name": "date",
              "value": "={{ $json.commit.message.split(' |' )[0] }}",
              "type": "string"
            },
            {
              "id": "1fad8d06-4d72-4dd7-8e78-15fbfa0850d7",
              "name": "id",
              "value": "={{ $('Webhook').item.json.query.id }}",
              "type": "string"
            },
            {
              "id": "afc3c2f5-8dba-420e-95d6-60f9a4f21c1e",
              "name": "message",
              "value": "={{ $json.sha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -760
      ],
      "id": "af795e4a-0382-4fd6-8ed4-1e5e00890b83",
      "name": "Set Commit Data"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/enzofrasca/n8n/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=my-workflows/{{ $('Webhook').item.json.query.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -760
      ],
      "id": "bb7dac05-1f55-4022-98ae-b0268538aa55",
      "name": "Get Commits",
      "credentials": {
        "httpBasicAuth": {
          "id": "DGWmZkHmx8sbHdWP",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "oHFD3b1zWDRMwZux",
          "name": "Github"
        },
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62857ca6-9d24-4ebf-b908-a95ce7393949",
              "leftValue": "={{ $json.date }}",
              "rightValue": "=2",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        -760
      ],
      "id": "7572111e-a58f-4201-97f9-cfeb03347553",
      "name": "If Date"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        -780
      ],
      "id": "7ca70ab3-320f-40b8-99c6-689e972178c4",
      "name": "Aggregate Commits"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -560
      ],
      "id": "9f62916b-e334-48e7-8ef7-c059863ae347",
      "name": "Respond Workflow Download"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $('Webhook').item.json.query.id }}",
        "additionalParameters": {
          "reference": "={{ $('Webhook').item.json.query.message }}"
        }
      },
      "id": "7c763f3c-2def-4b09-838e-74394f9dea27",
      "name": "Get Workflows Download",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        -560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $('Webhook').item.json.query.id }}",
        "additionalParameters": {
          "reference": "={{ $('Webhook').item.json.query.message }}"
        }
      },
      "id": "01fd5e19-97f5-4426-8a80-cfb9bc27a3c4",
      "name": "Get Workflows Restore",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        -340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "4e384a27-685a-414d-b3e5-22874bd2eb9f",
      "name": "Extract Workflow",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        -340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f468b1c6-9209-435d-a917-5edfc71d2c3d",
              "name": "data.name",
              "value": "={{ $json.data.name }} | {{ $json.data.updatedAt.toDateTime().format('yyyy-MM-dd | hh:mm') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -340
      ],
      "id": "9fcc2721-ea32-4f2f-8603-830f289b18d9",
      "name": "Set Workflow Name"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "id": "250ddb8a-7e17-47e0-bbaa-c7ce8088d471",
      "name": "Restore Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1060,
        -340
      ],
      "credentials": {
        "n8nApi": {
          "id": "OQZmdCaA4ngrsSzc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "last-updated.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        -960
      ],
      "id": "22476c97-5be0-4348-9463-366709634b23",
      "name": "Get List",
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        -960
      ],
      "id": "bf0024d2-1ea0-40cf-ad2d-7801e5b02b93",
      "name": "Extract From JSON 3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a80c9acb-3e3f-49e1-b18f-065933806a15",
              "name": "workflows",
              "value": "={{ $json.data[0].workflows }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -940
      ],
      "id": "2a3d23e6-5523-47ef-ad81-56b98f79e45d",
      "name": "Set List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        -940
      ],
      "id": "5b3e13df-8949-4566-bc88-c52d2b90510e",
      "name": "Respond Workflows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "n8nHub-Backup"
            },
            {
              "name": "description",
              "value": "n8nHub Backup Respository"
            },
            {
              "name": "homepage",
              "value": "https://github.com"
            },
            {
              "name": "private",
              "value": "true"
            },
            {
              "name": "is_template",
              "value": "false"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -1160
      ],
      "id": "42427c36-f292-4798-990d-c6941ef88167",
      "name": "Create Repository",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "DGWmZkHmx8sbHdWP",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "oHFD3b1zWDRMwZux",
          "name": "Github"
        },
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "last-updated.json",
        "binaryData": true,
        "commitMessage": "={{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3320,
        -1600
      ],
      "id": "ce607e86-11c0-41a2-a2f0-d2bd8e7f99ab",
      "name": "Get List 2",
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        -120
      ],
      "id": "c8b429cb-af97-4ec3-80db-055ca0d296d4",
      "name": "Extract From JSON "
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "=my-workflows/{{ $json.id }}",
        "additionalParameters": {}
      },
      "id": "2ec71333-ae89-4190-a466-c5fe554e8fc4",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1080,
        -120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        -120
      ],
      "id": "87833ae2-9724-41e3-ba4f-6587afa8d792",
      "name": "Aggregate Workflows"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "enzofrasca",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nHub-Backup",
          "mode": "name"
        },
        "filePath": "last-updated.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        -120
      ],
      "id": "7c0c588e-6b4a-4a5b-8251-bd8f9e8982c3",
      "name": "Get List 3",
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "WnadbYEPWO4gwI7H",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d9944f6-f184-468f-9845-c4c9dc25507a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -960
      ],
      "id": "1a775aec-41fe-4ae9-a9d3-677ee905c7a2",
      "name": "If Empty"
    },
    {
      "parameters": {
        "filters": {
          "tags": "n8nHub"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        640,
        -1160
      ],
      "id": "c6a2ef23-3c1d-4922-806f-9aa3991e8e5a",
      "name": "Get n8nHub Workflow",
      "credentials": {
        "n8nApi": {
          "id": "OQZmdCaA4ngrsSzc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ $json.toJsonString().replaceAll(\"n8nHub-Backup\",\"$('Create Repository').item.json.name\").replaceAll(\"enzofrasca\",\"$('Create Repository').item.json.owner.login\")}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        860,
        -1160
      ],
      "id": "2b498a9e-bbbd-4401-bec6-e2b04d48f4f2",
      "name": "Update Data",
      "credentials": {
        "n8nApi": {
          "id": "OQZmdCaA4ngrsSzc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "010ff419-c459-40af-9c6f-c8811ccf9831",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "219e93d7-9dd8-41c3-826c-86b6a9ac3b63",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16446fdd-2a76-4a85-a959-021a263d4749",
              "name": "flow",
              "value": "={{ $json.headers.flow }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11fe7c51-37b0-4266-9b5b-0b0ed8fb9527",
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -660
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "web.breezway.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FFSfW4mY6Wipy5fJkyw2qm0IokCjxtqQg%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19hLaBSof76iQb42CWLGAwuuFwtguSiMXs%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FGL1Qor40AvVqCIYdnAOrSqxYUSFQEoydJKY%2BnZ17EsgAGKAvR7uzFfsbV9Tz%2BB3fprYDpqI1YLA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1845RrbbsR0u4%2BOV8mjXEgi4bzY8wwQefoSQxiHozWOoFM6yD8FPRGZyL8mp97nzQr7LsjJtRLhYeTcQqKpvxuzNvJSx1RIzkhovj9JQniVkOac11NzmHmSUnDAt8f%2B3OIMVZ%2FdmuTRZ9QDdgL%2BUlPCDtUVkcT9CBU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FGd63dpK9jUw8iSMsGoVVwbdBOxpHtwfqCkIWrYzwAveGNSCy7y5BQ7ZkmIum1RK4z9pkLve1I2scfJ0Hp5TIDrHKSqmOjZWqiCj7i%2FaUE3benyB7giWXV1k6eblI2HpAuIJj2I8xt%2Bg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2238a1ee7bbdd91d837aec15ae92cc16f6fac3c4d9e269393880a11efb9058d914%23accd2820-c854-4a91-842b-e07e85aadea5%22%2C%22%24sesid%22%3A%5B1741374115277%2C%22019571b2-8395-7f48-9db2-9ce924b4843a%22%2C1741369279381%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fflow.breezway.com.br%2Fsignin%3Fredirect%3D%25252Fworkflow%25252FptVHhgX1jusgaTn7%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19tPWrKNhivIOzBtvOr8zu06rd5XRANl0PXxB38wOgMOBY%2FpU93jtx4IrD7gz2ZGBKOoj2OO4v9aFE3KVD8iVOaRaYlhWIny0werimDGyx3OIQZrfQTpW4wn7EbrtwTUYLH%2F9YjQEh9Hw%3D%3D",
            "flow": "workflows",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Brave\";v=\"134\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "none",
            "sec-fetch-storage-access": "active",
            "sec-gpc": "1",
            "x-forwarded-for": "179.254.175.195",
            "x-forwarded-host": "web.breezway.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8630da15fb0f",
            "x-real-ip": "179.254.175.195"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://web.breezway.com.br/webhook/n8nHub-main",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Workflow Edit": {
      "main": [
        [
          {
            "node": "Convert to JSON - Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON - Edit": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON - Create": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Create": {
      "main": [
        [
          {
            "node": "Convert to JSON - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Compare Workflows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Github Workflows": {
      "main": [
        [
          {
            "node": "Extract from Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get n8n Workflows": {
      "main": [
        [
          {
            "node": "Get Github Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "Set Update Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set Function Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "Set Update Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Update Table": {
      "main": [
        [
          {
            "node": "Get Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Function Input": {
      "main": [
        [
          {
            "node": "Process Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Workflow": {
      "main": [
        [
          {
            "node": "Compare Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Workflows": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Update Status": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Updates": {
      "main": [
        [
          {
            "node": "Set JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JSON": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Get List 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Update Status File": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON 2": {
      "main": [
        [
          {
            "node": "Create Update Status File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JSON 2": {
      "main": [
        [
          {
            "node": "Convert to JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Flows": {
      "main": [
        [
          {
            "node": "Get n8n Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Commits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Workflows Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Workflows Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get List 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Commit Data": {
      "main": [
        [
          {
            "node": "If Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits": {
      "main": [
        [
          {
            "node": "Set Commit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Date": {
      "main": [
        [
          {
            "node": "Aggregate Commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Commits": {
      "main": [
        [
          {
            "node": "Respond Commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows Download": {
      "main": [
        [
          {
            "node": "Respond Workflow Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows Restore": {
      "main": [
        [
          {
            "node": "Extract Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow": {
      "main": [
        [
          {
            "node": "Set Workflow Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Name": {
      "main": [
        [
          {
            "node": "Restore Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List": {
      "main": [
        [
          {
            "node": "Extract From JSON 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From JSON 3": {
      "main": [
        [
          {
            "node": "If Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set List": {
      "main": [
        [
          {
            "node": "Respond Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Repository": {
      "main": [
        [
          {
            "node": "Get n8nHub Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List 2": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From JSON ": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Aggregate Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Workflows": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List 3": {
      "main": [
        [
          {
            "node": "Extract From JSON ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty": {
      "main": [
        [
          {
            "node": "Create Repository",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8nHub Workflow": {
      "main": [
        [
          {
            "node": "Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data": {
      "main": [
        [
          {
            "node": "Get n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Switch Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13468b86-e3d0-44eb-bd92-e08ae6a01842",
  "meta": {
    "instanceId": "38a1ee7bbdd91d837aec15ae92cc16f6fac3c4d9e269393880a11efb9058d914"
  },
  "id": "BUYTHQJPszpHhMXh",
  "tags": [
    {
      "createdAt": "2025-03-07T17:45:54.798Z",
      "updatedAt": "2025-03-07T17:45:54.798Z",
      "id": "OsZ1tBRuOY8wGYwb",
      "name": "n8nHub"
    }
  ]
}
